<div class="container-fluid footer">
   <div class="row"> 
     <div class="col-lg-6 col-md-12 right-footer">
        <form method="POST">
              <div class="input-group input-group-sm elements">
                <span class="input-group-addon" id="sizing-addon3">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
              </div> 
              <textarea class="form-control elements" id="textarea" rows="3" placeholder="Ask question or Give Feedback"></textarea>
              <button class="btn btn-primary elements">Submit</button>
        </form>
     </div>
     <div class="col-lg-6 col-md-12 left-footer">
              <a href="">
              <div class="col-lg-2 col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_social-01_1591826.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2 col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_Google_Plus_1298744.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2  col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_gmail_1220340.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2  col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_WhatsApp_1298775.png">
             </div>
             </a>
      </div>
    </div>
    <div clas="row">
      <div class="col-lg-12 text-right">
          <div class="jumbotron company-footer font">
             <h1 class="namec">DIGISCKOOL</h1>
             <p class="company-sol">We find best for you</p>
       </div>
      </div>
    </div>
</div>
</div>
</body>

</html>