<div class="footer">
    
   <div class="right-footer">
       <form method="POST">
              <div class="input-group input-group-sm elements">
                <span class="input-group-addon" id="sizing-addon3">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
              </div> 
              <textarea class="form-control elements" rows="3" placeholder="Ask question or Give Feedback"></textarea>
              <button class="btn btn-primary elements">Submit</button>
       </form>
   </div>
    <div class="container-fluid  left-footer">
       <div class="row">
              <a href="">
              <div class="col-lg-2 col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_social-01_1591826.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2 col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_Google_Plus_1298744.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2  col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_gmail_1220340.png">
             </div>
             </a>
             <a href="">
             <div class="col-lg-2  col-xs-2 sym-element">
               <img  class="img-responsive" src="/static/icons/if_WhatsApp_1298775.png">
             </div>
             </a>
      
      
       <div class="col-lg-12 col-sm-12">
       <div class=" jumbotron company-footer font">
             <h1 class="company-name">DIGISCKOOL</h1>
             <p class="company-sol" style="font-size:30px;">We find best for you</p>
       </div>
       </div>
       </div>
    </div>
    </div>
</body>

</html>