body{
	background-color: #dddddd;
}
.num-name{

}
.dialog{
	padding: 70px;
	background-image: url('https://images6.alphacoders.com/521/521675.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}
.second-part{
	padding-top: 30px;
}
.cat{
	padding-top: 30px;
}
.sym{
	margin-right: 10px;
	padding-bottom: 20px;
	float: left;
	width:50px;
	font-size: 50px;
}
.topick{
	margin: 20px;
	border: 1px solid #bababa;
	background-color: white;
}
.gap1{
  margin: 0 3.5%;
  min-width: 200px;
}

.symbol{
	font-size: 80px;
	text-align: center;
	
	margin: 0 auto;
}

#headertitle{
	color: #d7dfe8;
     font-size: 50px;
}
#topbar{
	 background-repeat: no-repeat;
	 background-size: cover;
	 padding: 100 0;
	 background-attachment: fixed;
	 background-image: url('https://i.ytimg.com/vi/30daGH-8iD4/maxresdefault.jpg');
	 border-bottom: 2px solid #333;
	 border-top: 2px solid #333;
}
.headtitlebar{
	margin:0 auto;
	width:280px;
}
.num{
	font-size: 35px;
}
.buttonbar{
	margin:0 auto;
	width:150px;
}
#topButton{
	font-size: 23px;
	color: #d7dfe8;
	border: 2px solid #d7dfe8;
	}
.box{
	align:center;
}
.font{
	font-family: 'Bellefair', serif;
}
.abouttext{
	margin: 20px;
	padding: 10px;
	color: #333;
	background-color: white;
	border: 1px solid #bababa;
}
.about{
	font-size: 18px;
}
.footer{
	padding: 20px;
	width: ;
	
	background-color: #333;
}
.right-footer{
	width:300px;
	float :left;
}
.elements{
	margin: 10px ;
}
.sym-element{
	
	
}
.left-footer{
	float: right;
}
.thumbnail{
	border: 1px solid #bababa;
}
.company-footer{
	background:none;
	color: white;

}
.namec{
  padding: 0px;
  color: white;
}
.company-sol{
	padding-left: 20px;
    color:white;
    font-size:30px;
}
.main-container{
  margin: 0px 0px;
 padding: 0px 0px;
}
.books-container{ padding: 20 10; }
.name-item{ font-size: 20px; color: #333; }
@media only screen and (max-width: 480px){
	.topic-text{
		font-size: 15px;
	}
	.sym{
		font-size: 23px;
	}
	#topButton{
		font-size: 18px;
	}
	.about{
		font-size: 14px;
	}
	#textarea{
		width: 250px;
	}
	.namec{
		font-size: 25px;
	}
	.company-sol{
      font-size: 20px;
	}
	.name-item{
		font-size: 14px;
	}
}
.book-title{
	background-color: #333;
	color: white;
	margin-top: 0px;
	padding: 10 0;
}
